{% extends 'base.html' %}

{% block title %} Quotes {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8"> 
        {% for qoute in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{qoute.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{qoute.author}}</small>
            <a href="/author/{{qoute.author}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in qoute.tags %}
                <a class="tag" href="/tag{{tag}}">{{tag}}</a>
                {% endfor %}

                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

