{% extends 'Quotes/base.html' %}

{% block title %} Quotes {% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-8"> 
        {% for quote in page_obj %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                “{{quote.quote}}”
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
            <a href="{% url 'Quotes:author' quote.author.fullname %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all  %}
                <a class="tag" href="/tag{{tag}}">{{tag.name}}</a>
                {% endfor %}

                
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        <span class="current-page">{{ page_obj.number }}</span>
    
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
    
</div>
</div>
{% endblock %}

